@model WebApi.Models.BlogGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Blogs" asp-action="Index" method="get">
    <p>
        <select asp-for="BlogGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter">
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blogs![0].MyProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs![0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs![0].Created_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs![0].Last_updated_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blogs!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MyProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_updated_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
